REACT_APP_SUPABASE_URL=https://jqviffosraqtgodjodhe.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxdmlmZm9zcmFxdGdvZGpvZGhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NDI2MzQsImV4cCI6MjA4NzMxODYzNH0.p6ysAkt8GNSMb7EL2PkpR_ljIvN1o4Rh1eCHRWfPYt4
